* {
    /* background-color: rgb(21, 20, 19);
    color: rgba(240, 224, 201, 0.745); */
    background-color: #1e1f26;
    color: #f8f4eb;
    box-sizing: border-box;
}

body {
  /* display: none; */
  margin: 15px 15px;
    -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

h1 {
    font-size: 24px;
    text-align: center;
}

.for {
    text-align: left;
    width: 50vw;
    margin-left: 180px;
/*     position: absolute;
    right: 15px; */
    font-size: 12px;
}

.text {
    text-align: justify;
}

p {
    text-indent: 1em;
}

.footer {
    display: flex;
    justify-content: space-between;
}
